p {
    color:  rgb(19, 73, 38);
}

section,
mat-list {
    display: flex;
}

section{
    flex-direction: column;
}
h3{
    width: 100%;
}
.mat-list{
    align-self: center;
}
.mat-list-item{
    height: auto !important;

}
.mat-card{
    text-align: center;
    width: 400px;
    padding-bottom: 16px;
    box-shadow: none;

}
.mat-card-header{
   /* display: flex;*/
    flex-grow: 1;
    flex-direction: column;
}

.img-container{
    display: flex;
    /* border-radius: 50%; */
    overflow: hidden;
}

img{
    margin: 0!important;
    width: 493px;
    height: 603px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

mat-card-content {
    display: flex;
}

h2 {
    font-size: 38px;
}

mat-card-content > p {
    font-size: 32px;
    margin-left: 60px;
    margin-top: calc((80px - 37px)/2)
}

mat-card-content > button {
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right bottom,  rgb(70, 146, 45),  rgb(42, 178, 91));
    z-index: 1000;
}

a {
    text-decoration: none;
}