<mat-list>
    <mat-list-item>
        <mat-card class="example-card" >
            <div class="img-container">
            <img mat-card-image src="https://via.placeholder.com/400x400" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-header>
            <mat-card-title> <p>title</p>
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <p>description</p>
            </mat-card-content>
        </mat-card>
    </mat-list-item>

    <mat-list-item>
            <mat-card class="example-card" >
                <div class="img-container">
                <img mat-card-image src="https://via.placeholder.com/400x400" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-header>
                <mat-card-title> <p>title</p>
                </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p>description</p>
                </mat-card-content>
            </mat-card>
        </mat-list-item>

        <mat-list-item>
                <mat-card class="example-card" >
                    <div class="img-container">
                    <img mat-card-image src="https://via.placeholder.com/400x400" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-header>
                    <mat-card-title> <p>title</p>
                    </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    <p>description</p>
                    </mat-card-content>
                </mat-card>
            </mat-list-item>
</mat-list>