mat-toolbar {
    background-color: rgb(42, 178, 91);
    color: rgb(255, 255, 255);
    height: 70px;
}

.cart-text {
    padding-right: 16px;
    font-size: 12px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

input {
    font-size: 12px;
    padding-bottom: 0px;
}

mat-form-field {
    margin-right: 32px;
}

.search-icon {
    font-size: 22px;
    margin-right: 8px;
}

p {
    font-family: "XMasFont", Helvetica, Arial, sans-serif;
    font-size: 46px;
}